.nowplaying {
  padding-top: 110px;
  padding-bottom: 101px;
  font-weight: bold;
}

.text-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nowplaying_header h1 {
  font-size: 53px;
  font-weight: 400;
  padding-bottom: 3rem;
  text-align: left;
  text-transform: uppercase;
  line-height: 65px;
  max-width: 780px;
  animation-delay: 0.9s;
}

.nowplaying_header h1:after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: #f87f2e;
  top: 30px;
  position: relative;
  margin: auto;
}

@media (max-width: 576px) {
  .nowplaying {
    padding-top: 10px;
    padding-bottom: 101px;
    font-weight: bold;
  }
  .nowplaying_header h1 {
    font-size: 32px;
    line-height: 50px;
    padding-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .nowplaying {
    padding-top: 10px;
    padding-bottom: 101px;
    font-weight: bold;
  }
  .nowplaying_header h1 {
    font-size: 32px;
    line-height: 55px;
    padding-bottom: 2.5rem;
  }
}
