.favorites-count {
  position: absolute;
  top: 49px;

  transform: translate(50%, -50%);
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 992px) {
  .icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    justify-content: space-between;
  }
}
